@import "../variables";

.content-container {
  display: flex;
  margin-top: 5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// @media screen and (max-width: 768px) {
//   .content-container {
    

// }
