//colors
$backgroundColor: #12181b;
$navbarBackground: #2a2e35;

$text-light: #b2becd;
$nav-links-hoverColor: #fff;

$banner-text: #fff;

//------ Buttons-------
//button colors
$btnText: #fff;
$btnBorder: #fff;
$btnPrimary: #09c372;
$btnOutline: #fa8142;

// $color1: #cee5f2;
// $color2: #accbe1;
// $color3: #7c98b3;
// $color4: #637081;
// $color5: #536b78;

// $backgroundColor: #536b78;
// $navbarBackground: #637081;

// $text-light: #cee5f2;
// $nav-links-hoverColor: #fff;
